.basic-form-container {
    display: flex;
    flex-direction: column;
    /* width: 25%; */
}

.btn {
    background-color: blueviolet;
    width: 100px;
    margin-block: 4px;
    margin-inline: 4px;
}

.btn:hover {
    background-color: grey;
    border-color: grey;
}

.btn-primary {
    background-color: rgb(194, 194, 82);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-error {
    background-color: rgb(214, 62, 62);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-update {
    background-color: rgb(87, 87, 236);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
