.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.input label {
    text-align: left;
    width: 100px;
    margin-right: 10px;
}

.input input {
    flex: 1;
    width: 250px;
}

.input select {
    flex: 1;
    width: 258px;
}

.btn {
    margin-bottom: 25px;
    margin-top: 25px;
}

.display-table tr {
    text-align: left;
}

.display-table th {
    text-align: center;
}

.display-table td {
    padding: 4px;
}
