.custom-nav {
    background-color: rgb(112, 112, 247);
    height: 50%;
    width: 500px;
    padding: 2%;
    /* display: flex; */
    justify-content: space-evenly;
    margin: 10px;
}

.acct-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navigation-btn {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.account-name {
    gap: 10px;
}
